EdwardSFlores.DataAccess.Database/obj/
.idea/
EdwardSFlores.Service/obj/
EdwardSFlores.DataAccess.Database/bin/
EdwardSFlores.Service/bin/
EdwardSFlores.BusinessLogic.Tests/bin/
EdwardSFlores.BusinessLogic.Tests/obj/
EdwardSFlores.BusinessLogic/obj/
EdwardSFlores.BusinessLogic/bin/

EdwardSFlores.Service/output/
EdwardSFlores.DataAccess/bin/
EdwardSFlores.DataAccess/obj/
EdwardSFlores.Service/release/
EdwardSFlores.Service.sln.DotSettings.user
.vscode/
appsettings.json
